<div class="container pt-4">

  <div class="row d-flex justify-content-center">
    <div class="col col-lg-2">
      <div class="d-flex justify-content-center"><button type="button" class="btn btn-primary btn-lg" (click)="btnAnterior()">Anterior</button></div>
    </div>
    <div class="col col-lg-4">
        <div>
          <select class="form-select" id="exampleSelect1" (change)="chapteris()" [(ngModel)]="selectedValue">
            <option *ngFor="let thechapter of listchapter; index as i">{{thechapter}}</option>
          </select>
        </div>
    </div>
    <div class="col col-lg-2">
      <div class="d-flex justify-content-center"><button type="button" class="btn btn-primary btn-lg" (click)="btnSiguiente()">Siguiente</button></div>
    </div>
  </div>
</div>

<div class="pt-4 pb-4">

  <div *ngIf="chapterloaded.length == 0" class="d-flex justify-content-center">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>

  <div *ngIf="item.paginado">
    <div *ngFor="let x of  chapterloaded; index as i">
      <img [src]="x" [ngClass]="item.expandir ? 'reader' : ''" [ngClass]="item.separar ? 'mb-4' : ''"
        class="mx-auto d-block img-fluid" alt="">
    </div>
  </div>

  <div *ngIf="!item.paginado">

    <img [src]="chapterloaded[0]" [ngClass]="item.expandir ? 'reader' : ''" [ngClass]="item.separar ? 'mb-4' : ''"
      class="mx-auto d-block img-fluid" alt="">

  </div>
</div>

<div class="container pt-4 pb-4">

  <div class="row d-flex justify-content-center">
    <div class="col col-lg-2">
      <div class="d-flex justify-content-center"><button type="button" class="btn btn-primary btn-lg" (click)="btnAnterior()">Anterior</button></div>
    </div>
    <div class="col col-lg-4">
        <div>
          <select class="form-select" id="exampleSelect1" (change)="chapteris()" [(ngModel)]="selectedValue">
            <option *ngFor="let thechapter of listchapter; index as i">{{thechapter}}</option>
          </select>
        </div>
    </div>
    <div class="col col-lg-2">
      <div class="d-flex justify-content-center"><button type="button" class="btn btn-primary btn-lg" (click)="btnSiguiente()">Siguiente</button></div>
    </div>
  </div>
</div>
